<!DOCTYPE html>
<html>
 <head>
  <title>Create A New Article</title>
 </head>
 <body>
    <h2>Create a New Article</h2>
   <form method="POST" action="/articles">
     <label>Title: <input type="text" name="title" /></label><br/><br>
     <label>Content: <input type="text" name="content" /></label><br/><br>
     <input type="submit" id="Submit" />
   </form>
 </body>
</html>